# Data Science
numpy==1.26.4
pickle-mixin==1.0.2
pandas==1.4.2

# Machine Learning
scikit-learn==1.6.1
tensorflow==2.11.1
catboost==1.2.8
jcopml==1.2.7

# Streamlit
streamlit==1.18.0
streamlit-option-menu==0.3.2

# Data Visualisation
seaborn==0.13.2

# Utilities
nb_conda_kernels==2.5.2
pyparsing==3.2.5

#protobuf==3.19.6